<%- include('../partials/header') %>
<h2><%=title%></h2>
  <div class="col-sm-4">
  	<div class="fakeimg">
      <img src="views/images/anime.jpg" alt="fallout"  width="500" height="333" ></div>
  	<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
  	<hr class="d-sm-none">
	</div>
</div>
  <div class="col-sm-3">
    
  </div>
	<div class="col-sm-3">
    <h2>Naruto: My Favorite Anime Series</h2>
  	<div class="fakeimg">
      <img src="views/images/naruto.jpg"  width="500" height="333">
      </div>
  </div> 
  	<h2 class="mt-5">A long time anime fan</h2>
  
  	<p>I grew up watching anime and it has been one of the joys in my life. I have continued to watch anime and I have made many firends because of it. But anime also provide me with a wide selection and have create some of my favorites series. One of them bing naruto which I still hold has one of my top animes.</p>
  
<%- include('../partials/footer') %>