<%- include('../partials/header') %>
<h2><%=title%></h2>
<div class="col-sm-4">
  	<div class="fakeimg">
      <img src="views/images/fallout3.jpg" alt="fallout"  width="500" height="333" ></div>
  	<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
  	<hr class="d-sm-none">
	</div>
</div>
  <div class="col-sm-3">
    
  </div>
	<div class="col-sm-4">
    <h2>Fallout Series</h2>
  	<div class="fakeimg">
      <img src="views/images/falloutNV.jpg"  width="500" height="333">
      </div>
  </div> 
  	<h2 class="mt-5">A Avid Gamer</h2>

  	<p>I'm a gamer and have explored many times of games in my life. Gaming it actually the reason why I wanted to learning application development. Because I want to have the opportunity to create my own game in the future. One my favorite game series if the fallout series and something that I have grew up playing.</p>
  
<%- include('../partials/footer') %>

