<%- include('../partials/header') %>
<h2><%=title%></h2>
  	<h5>Photo of me:</h5>
  	<div><img src="views/images/Peter.jpg" alt="PeterHo"  width="350" height="400" ></div> 
  	<h3 class="mt-4">Profile</h3>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link active" href="https://www.linkedin.com/in/peter-ho-541060171/">LinkedIn</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://github.com/PeterQHo">GitHub</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link disabled" href="#">Disabled</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link disabled" href="#">Disabled</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Year Up Student.</h2>
  	<p>Hello, my name is Peter Ho I am currently a Year Up student learning Application Development.
								My interest in the tech industry has allowed me to gain new skills in programming languages.
								 I have experience with HTML, CSS, JavaScript, and GitHub. I have learned more than tech skills as an emerging professional. Year Up has allowed me to expand my skills in problem-solving and critical thinking. I am excited to continue my learning in programming and to help expand my knowledge of software development.</p>

  	<h2 class="mt-5">Game Development</h2>
  	<div>
      <img src="views/images/game.jpg" width="1000" height="300">
    </div>
  	<p>I hope to create my projects in the future relating to game development and have been improving my skills to make the goal possible. I hope to gain more experience in future and to gain the knowledge and skill to transition into the gaming industry</p>
<%- include('../partials/footer') %>
