<%- include('../partials/header') %>
<h2><%=title%></h2>

 <div class="col-sm-4">
  	<div class="fakeimg">
      <img src="views/images/japan.jpg" alt="fallout"  width="500" height="333" ></div>
  	<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
  	<hr class="d-sm-none">
	</div>
</div>
  <div class="col-sm-3">
    
  </div>
	<div class="col-sm-3">
    <h2>Sushi</h2>
  	<div class="fakeimg">
      <img src="views/images/sashimi.jpg"  width="500" height="333">
      </div>
  </div> 
  	<h2 class="mt-5">Why Japan?</h2>
  
  	<p>I have also been interested in Japanese culture and made many friends from Japan. I hope to visit Japan in the future and explore the amazing culture. Japan is also the home of one my favorite dishes Sushi which I still enjoy to this day.</p>
  
  
<%- include('../partials/footer') %>